#text{
    width: 780px;
    height: 35px;
    background-color: black;
    color:  lime ;
}
body{
    justify-content: center;
}
.buttonline{
    width: 780px;
    height: 60px;
    background-color: lime;
    display: flex;
    justify-content: center;
}
.button{
    width: 40px;
    height: 40px;
    background-color: black;
    color:  lime ;
    margin-left: 10px;
}
#delete{
    width: 90px;
}
#tab{
    width: 90px;
}
#caps{
    width: 70px;
}
#enter{
    width: 90px;
}
#shift{
    width: 90px; 
}
#pause{
    width: 100px;
}
#space{
    width: 200px;
}

.alt{
    width: 60px
}
.ctrl{
    width: 60px
}